{% extends "!layout.html" %}

{% block rootrellink %}
    <li><a id="home-link" href="http://ezengage.com/">ezEngage 主页</a> &nbsp;|&nbsp; </li>
    {{ super() }}
{% endblock %}

{% block extrahead %}
{{ super() }}
{% set more_css = pathto('_static/ezengage.css', 1) %}
<link rel="stylesheet" href="{{ more_css }}" type="text/css" />
{% endblock %}

{% block footer %}
{{ super() }}
<script type="text/javascript"> 
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20845547-3']);
    _gaq.push(['_trackPageview']);
 
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script> 
{% endblock %}
